* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: grid;
    grid-row: 4;
    grid-auto-rows: 1fr;
}

.linha1, .linha2, .linha3, .linha4 {
    display: flex;
    width: 100%;
    height: 100%;
}

.linha1 div {
    background-color: rgb(119, 218, 73);
}
.linha2 div {
    background-color: cornflowerblue;
}
.linha3 div {
    background-color: darksalmon;
}
.linha4 div {
    background-color: aquamarine;
}

.linha1 div, .linha2 div, .linha3 div, .linha4 div {
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna3-5 {
    display: flex;
    flex-direction: column;
}
.coluna3-5 div {
    flex: 1;
    width: 100%;
}

.coluna3-5 div:nth-child(1) {
    background-color: rgb(223, 74, 104);
}
.coluna3-5 div:nth-child(2) {
    background-color: rgb(221, 93, 118);
}
.coluna3-5 div:nth-child(3) {
   background-color: rgb(226, 114, 137);
}
.coluna3-5 div:nth-child(4) {
    background-color: rgb(228, 158, 172);
}

img {
    width:50%;
}

.coluna4_2 {
    display: flex;
    flex-direction: column;
}

.coluna4_2 div {
    flex: 1;
    width: 100%;
}

.coluna3_2 div, .coluna4_1 div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}