<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div class="linha1">
        <div class="coluna1_1"><p>1.1</p></div>
        <div class="coluna1_2"><p>1.2</p></div>
    </div>
    <div class="linha2">
        <div class="coluna2_1"><p>2.1</p></div>
        <div class="coluna2_2"><p>2.2</p></div>
    </div>
    <div class="linha3">
        <div class="coluna3_1"><p>3.1</p></div>
        <div class="coluna3_2">
            <div class="subcoluna3_2_1"><img src="../public/images/gato.png" alt="gato"><p>Gato</p></div>
            <div class="subcoluna3_2_2"><img src="../public/images/cachorro.png" alt="cachorro"><p>Cachorro</p></div>
            <div class="subcoluna3_2_3"><img src="../public/images/coelho.png" alt="coelho"><p>Coelho</p></div>
        </div>
    </div>
    <div class="linha4">
        <div class="coluna4_1">
            <div class="subcoluna4_1_1"><img src="../public/images/casa.png" alt="casa"><p>Casa</p></div>
            <div class="subcoluna4_1_2"><img src="../public/images/castelo.png" alt="castelo"><p>Castelo</p></div>
        </div>
        <div class="coluna4_2">
            <div class="sublinha1-coluna4_2"><p>4.2.1</p></div>
            <div class="sublinha2-coluna4_2">4.2.2</div>
        </div>
    </div>
</body>
</html>